.wrapper
  .side-bar
    .header
      .header__name
        = current_user.name
      %ul.header__lists
        %li
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
        %li
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o
    .groups
      - current_user.members.each do |member|
        .groups__name
          = member.group.name
        .groups__message
          まだメッセージはありません。
  .chat
    .header
      .left-header
        .group
          .group__name
            = @group.name
          .group__members Member:
          %ul
            - @group.members.each do |member|
              %li
                = member.user.name
      .right-header
        = link_to "Edit", edit_group_path(@group), class: "edit-bottun"
    .messages
      = render "message"
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :body, placeholder: "type a message", class: "form__message"
        = f.label :image do
          %i.fa.fa-picture-o
          = f.file_field :image, style: "display:none"
          = f.hidden_field :image_cache
        = f.submit "Send", class: "form__submit"
