.wrapper
  .side-bar
    .header
      .header__name
        = current_user.name
      %ul.header__lists
        %li
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
        %li
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o
    .groups
      - current_user.members.each do |member|
        .groups__name
          = member.group.name
        .groups__message
          まだメッセージはありません。
  .chat
    .header
      .left-header
        .group
          .group__name sample
          .group__members Member:
          %ul
            %li seo
            %li neko
      .right-header
        %a.edit-bottun{ href:"https://tech-camp.in/expert" } Edit
    .messages
      = render "message"
    .form
      %form
        %input{ type: "text", placeholder: "type a message", class: "form__message" }
        %label
          %i{ class: "fa fa-picture-o"}
          %input{ type: "file", name: "file", style: "display:none" }
        %input{ type: "submit", value: "Send", class: "form__submit" }
