.wrapper
  .side-bar
    .header
      .header__name
        = current_user.name
      %ul.header__lists
        %li
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
        %li
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o
    .groups
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .groups__name
            = group.name
          .groups__message
            - if group.messages.present?
              = group.messages.last.body
            - else
              まだメッセージはありません。
