.chat-group-form
  %h1 新規チャットグループ
  = form_for @group do |f|
    - if @group.errors.any?
      .chat-group-form__errors
        %h2= "#{@group.errors.count}件のエラーが発生しました。"
        %ul
          - @group.errors.full_messages.each do |message|
            - if @group.errors.details[:name].present?
              %li グループ名を入力してください
            - else
              %li= message
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, "グループ名", class: 'chat-group-form__label'
      .chat-group-form__field--right
        = f.text_field :name, placeholder: "グループ名を入力してください", class: 'chat-group-form__input'
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :member, "チャットメンバーを追加", class:'chat-group-form__label'
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          = text_field_tag :search, "", placeholder: "追加したいユーザー名を入力してください", class: 'chat-group-form__input', id: 'user-search-field'
        #user-search-result
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :member, "チャットメンバー", class: 'chat-group-form__label'
      .chat-group-form__field--right
        #chat-group-users
          .chat-group-user.clearfix
            = hidden_field_tag "group[user_ids][]", current_user.id
            %p.chat-group-user__name= current_user.name
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit "登録する", data:{ disable_with: "登録中…" }, class: 'chat-group-form__action-btn'
